<html>
<head>
<link rel="stylesheet" href="../css/style.css" />
</head>
<body>
<div class="calculateBox"><br /><br />
<h1>Calculate your income Tax:</h1>
<input type="number" name="income" id="income" placeholder="Enter your Salary"></input><br /><br />
<input type="radio" id= "status" name="status" value="married" checked>UnMarried</input>
<input type="radio" name="status" value="unmarried">Married</input><br /><br /><br />
<button  id="button1">Calculate Tax !</button><br /><br /><br />
<p id="errorid" style="color:red; font-size:large"></p><br /><br /><br />
</div>

<script>
document.getElementById("button1").addEventListener("click",function(){

	var income1=document.getElementById("income").value;

		if(income1==null|| income1==0){
			document.getElementById("errorid").innerHTML ="Income is Necessay";
			}else{
				var status=document.getElementById("status").checked;
				if(status){
					if(income1<=400000){document.getElementById("errorid").innerHTML ="tax:	 Rs"+income1*0.01; 
					}else if(income1<=500000){document.getElementById("errorid").innerHTML ="tax:	 Rs"+((income1-400000)*0.1+(400000*0.01));
					}else if(income1<=700000){document.getElementById("errorid").innerHTML ="tax:	 Rs"+((income1-500000)*0.2+(100000*0.1)+(400000*0.01));
					}else if(income1<=2000000){document.getElementById("errorid").innerHTML ="tax:	 Rs"+((income1-700000)*0.3+(200000*0.2)+(100000*0.1)+(400000*0.01));
					}else{document.getElementById("errorid").innerHTML ="tax:	 Rs"+((income1-2000000)*0.36+(1300000*0.3)+(200000*0.2)+(100000*0.1)+(400000*0.01));}
				}else{
					if(income1<=450000){document.getElementById("errorid").innerHTML ="tax:	 Rs"+income1*0.01; 
					}else if(income1<=550000){document.getElementById("errorid").innerHTML ="tax:	 Rs"+((income1-450000)*0.1+(450000*0.01));
					}else if(income1<=750000){document.getElementById("errorid").innerHTML ="tax:	 Rs"+((income1-550000)*0.2+(100000*0.1)+(450000*0.01));
					}else if(income1<=2000000){document.getElementById("errorid").innerHTML ="tax:	 Rs"+((income1-750000)*0.3+(200000*0.2)+(100000*0.1)+(450000*0.01));
					}else{document.getElementById("errorid").innerHTML ="tax:	 Rs"+((income1-2000000)*0.36+(1300000*0.3)+(200000*0.2)+(100000*0.1)+(450000*0.01));}
				}
				
			}
	
})
</script>

</body>
</html>